* {
    text-align: center;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
    
}

body {

    /* background: black; */
    background-size: 1440px;

}

h1 {
    font-size: 90px;

    color: white;


}
.info{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
    text-align: center;
    font-size: 300; 
}
.volver_indice{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
    font-size: 300;

}

.galeriafont{
    color: black;
}
#sexologia {
    font-size: 90px;
    color: black;
}